# Ignore raw data
01_data/*
!01_data/.gitkeep

# Ignore metadata if needed (depende do teu caso)
02_metadata/*
!02_metadata/.gitkeep

# Ignore results
03_results/*
!03_results/.gitkeep

# Ignore logs
04_logs/*
!04_logs/.gitkeep

# Ignore editor clutter
*.swp
*.tmp
*.log

# Ignore system files
.DS_Store
