# Ignore raw data
01_data/*

# Ignore metadata except config file
02_metadata/*
!02_metadata/.trimming_config.txt

# Ignore results
03_results/*

# Ignore logs
04_logs/*

# Ignore editor clutter
*.swp
*.tmp
*.log

# Ignore system files
.DS_Store
